body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.app-name {
  font-family: 'Orbitron', sans-serif;
  color: #30ff3b;
 
}

a {
  text-decoration: none;
}

.logo {
  max-height: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  background-color: #0D0D0D;
  color: #f2f2f2
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h2,
h3 {
  color: #4a81ff
}

h4, 
p {
  color: #f2f2f2
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  
}

button {
  background-color: #30ff3b;
  border: none;
  color: #0D0D0D;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
}


